<nav class="navbar navbar-expand-lg bg-light sticky-top shadow navbar-blur">
    <div class="container-fluid">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/static/CS50.svg" alt="CS50 Social" width="40" height="40">
                CS50 Social
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if session["user_id"] %}
            <!-- <form role="search">
                <div class="navbar-nav container-fluid searchbar">
                    <input class="form-control searchbar" type="search" placeholder="Search ..." aria-label="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                </div>
            </form> -->
            {% endif %}
            <ul class="navbar-nav mb-2 mb-lg-0">
                {% if not session["user_id"] %}
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                {% else %}


                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>
